$pink: rgb(233, 150, 150);
body {
  margin: 0 auto;
  width: 800px;
  background-color: rgb(49, 229, 252);
}
/* mixin */
@mixin logofont {
  font: {
    family: $font-heading;
    size:   300%;
    weight: bold;
  }
}
header {
  h1 {
    /* mixinを使う */
    @include logofont;
    /* 変数を使う*/
    border-bottom: 1px dotted $pink;
    background-color: cadetblue;
    text-align: center;
  }
}
.img{
  width: 512px;
  height: 256px;
  background-image: url('./images/nagase.jpg')
}
